@model DataAccess.DTOs.Cart.CartDTO

@{
    ViewBag.Title = "Cart Details";
}

<h3 class="mb-5">Shopping Cart</h3>
<div class="row mb-5">
    <div class="col-md-9">
        @foreach (var item in Model.CartItems)
        {
            <div class="row mb-4 cart-item" id="cart-item-@item.Id">
                <div class="col-md-4">
                    <img src="@item.Product.ImageURL" width="300" class="img-thumbnail">
                </div>
                <div class="col-md-8">
                    <h5>@item.Product.Name</h5>
                    <div class="mb-4">@item.Product.Description</div>
                    <div>
                        Price: <b>@item.Product.Price.ToString("C")</b>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" value="@item.Quantity" id="qty-@item.Id" min="1" />
                        </div>
                    </div>
                    <form asp-action="RemoveItem" method="post">
                        <input type="hidden" name="cartItemId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i> Remove
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        <h5>Cart Summary</h5>
        <div class="mt-2">
            <div>Total - (@Model.CartItems.Sum(item => item.Quantity) items)&nbsp;<b>@Model.CartItems.Sum(item => item.Product.Price * item.Quantity).ToString("C")</b></div>
            <form asp-action="ClearAllCartItems" method="post">
                <button type="submit" class="btn btn-danger mt-3">
                    Clear All Items
                </button>
            </form>
            
            

            <form asp-controller="Payment" asp-action="GoToPayment" method="post">
                <input type="hidden" name="amount" value="@(Convert.ToInt32(Model.CartItems.Sum(item => item.Product.Price * item.Quantity)))" />
                <button type="submit" class="btn btn-success mt-3">
                    <span class="oi oi-credit-card"></span>&nbsp; Proceed to Payment
                </button>
            </form>
        </div>
    </div>
</div>
